$border-color: #dddddd;
$screen-md-min: 992px;
$screen-sm-min: 768px;

body {
  padding-bottom: 4em;
}

// index
#services_table_filter {
  input {
    height: 34px;
  }
}

#services_table {
  tr {
    vertical-align: middle;
  }
  th {
    font-size: 1.2em;
  }
}

// show
.show-title {
  padding-left: 2em;
}

.service-label {
  font-weight: bold;
}

.show-btn {
  width: 6em;
  margin-bottom: 1em;
}

#show-service {
  width: 100%
}

.gmap {
  min-height: 450px;
}

.comments {
  padding-left: 2em;
}

// form
.form-title {
  padding-bottom: 0.5em;
}
#newCategory {
  margin-top: 1em;
}

.form-control {
  height: 54px;
}

// media queries
@media screen and (max-width: $screen-sm-min) {
  .service-label, .service-value {
    width: 100%;
    display: block;
  }
}

// #services_table table tbody {
//   border-left: 2px solid $border-color;
//   border-right: 2px solid $border-color;
// }