$border-color: #dddddd;
$screen-md-min: 992px;
$screen-sm-min: 768px;

#services_table {
  tr {
    vertical-align: middle;
    // white-space: pre;
  }
  th {
    font-size: 1.2em;
  }
}

.service-label {
  font-weight: bold;
}

.show-btn {
  width: 6em;
  margin-bottom: 1em;
}

#show-service {
  width: 100%
}
.gmap {
  min-height: 450px;
}

@media screen and (max-width: $screen-sm-min) {
  .service-label, .service-value {
    width: 100%;
    display: block;
    // word-wrap: break-word;
  }
}

// #services_table table tbody {
//   border-left: 2px solid $border-color;
//   border-right: 2px solid $border-color;
// }