$border-color: #dddddd;

tr {
  vertical-align: middle;
  // white-space: pre;
}

tr {
   line-height: 25px;
   min-height: 25px;
   height: 25px;
}

th {
  font-size: 1.2em;
}

// #services_table table tbody {
//   border-left: 2px solid $border-color;
//   border-right: 2px solid $border-color;
// }